# DB
DATABASE_URL=

# BETTER AUTH
BETTER_AUTH_SECRET=

AUTH_SECRET=

# LOGIN GOOGLE
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# NEXT
NEXT_PUBLIC_URL=

# STRIPE
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

STRIPE_SECRET_WEBHOOK_KEY=

STRIPE_PLAN_BASIC_ID=
STRIPE_PLAN_PROFESSIONAL_ID=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=

# CLOUDNARY
CLOUDNARY_NAME=
CLOUDNARY_KEY=
CLOUDNARY_SECRET=
CLOUDINARY_URL=